

<div>
    <ul class="breadcrumb">
        <li><a ui-sref="app">Home</a>
        </li>
        <li class="active">People</li>
    </ul>
</div>

  <div class="conteiner">
    <div class="content_conteiner">

        <h2 id="installation">People</h2>

        <div class="row">
          <div class="box col-md-12">
              <div class="box-inner">

                  <table class="table table-hover table-cursor-pointer table-striped table-bordered table-condensed table-checkable table-highlight-head footable"
                         wt-responsive-table>
                      <thead>
                              <tr >
                                <th>Name</th>
                                <th>email</th>
                                <th>Username</th>
                                <th></th>
                              </tr>
                      </thead>
                      <tbody>
                            <tr  ng-repeat="person in vm.people">
                                <td>{{person.firstname}} {{person.lastname}}</td>
                                <td>{{person.email}}</td>
                                <td>{{person.username}}</td>
                                <td class="center col-md-2">
                                    <a class="btn btn-info btn-sm" ui-sref="app.person({ pId: person.id})">
                                        <i class="glyphicon glyphicon-edit icon-white"></i> Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" ng-click="vm.deletePerson( person)">
                                        <i class="glyphicon glyphicon-trash icon-white"></i> Delete
                                    </a>
                                </td>
                            </tr>
                      </tbody>
                  </table>
            </div>
          </div>
        </div>

        <!--
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success btn-lg pull-right" ui-sref="app.person({})">
                    <i class="glyphicon glyphicon-plus icon-white"></i> New Person
                </a>
        </div>
      -->



    </div>
  </div>
