<div>
<!--
  <section class="row">
    <img class="img_scroll"
      src="./assets/img/HF_schrebeGarten.png" du-parallax y="background"
      x="moveInFromLeft" opacity="fadeIn"  alt="" />

    <div class="col-sm-12">
      <h1>ala bala niza</h1>
    </div>

  </section>
-->
  <!--parallax 1 -->
  <!-- todo. remove bg-1..3 clases from css -->

<!--  <section class=" text-center" du-parallax y="background"        x="moveInFromLeft" opacity="fadeIn" >
-->




<!--
<section>
<img class="img_scroll"
src="./assets/img/HF_schrebeGarten.png" du-parallax y="background"
x="moveInFromLeft" opacity="fadeIn"  alt="" />

      <h1 class="">Familiengärten Schaffhausen</h1>
      <p class="lead">Verein für Familiengärten Schaffhausen</p>
  </section>
-->

<!-- for a slider
<div class="parallax-window">
<div class="parallax-slider">
  <span style="position:absolute; top: 400px; left: 400px;">Some Text</span>
  <p>Some other Content</p>
</div>
</div>
-->



  <div  class="parallax-container" data-parallax="scroll" data-bleed="10" data-image-src="../assets/img/HF_schrebeGarten.png"
        data-natural-width="1200" data-natural-height="800">
        <!-- <span style="position:absolute; top: 400px; left: 400px;">Some Text</span> -->

        <!--
        <h1 class="header">Familiengärten Schaffhausen</h1>
        <h2 class="sub_header">Verein für Familiengärten Schaffhausen</h2>-->
        <h1 class="header">Garden Society</h1>
        <h2 class="sub_header">Test Web Interface</h2>
  </div>

  <div class="conteiner">
    <div class="content_conteiner">

     <section>

         <h2 id="options">Accounts</h2>
         <p> Admin account with password: <code>123</code></p>

         <div class="alert alert-warning"><p>Note that when specifying these options as html data-attributes, you should convert &#8220;camelCased&#8221; variable names into &#8220;dash-separated&#8221; lower-case names (e.g. <code>zIndex</code> would be <code>data-z-index=&quot;&quot;</code>).</p></div>
         <div class="table-responsive">

       </div>
     </section>

 </div>
</div>
