<div class="ngdialog-message">
    <div class="">
        <h3>Register </h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form ng-submit="vm.doRegister()">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input required type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="vm.registration.username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input required type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="vm.registration.password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastname">Email</label>
                <input required type="text" class="form-control input-sm" id="email" placeholder="Email" ng-model="vm.registration.email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="firstname">First Name</label>
                <input required type="text" class="form-control input-sm" id="firstname" placeholder="First Name" ng-model="vm.registration.firstname">
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastname">Last Name</label>
                <input required type="text" class="form-control input-sm" id="lastname" placeholder="Last Name" ng-model="vm.registration.lastname">
            </div>
            <!--
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.registration.rememberMe"> Remember me
                </label>
            </div>
            -->
            <button type="submit" class="btn btn-info btn-sm">Register</button>
            <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
</div>
